body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
header {text-align: center;
    justify-items: center;
padding: 30px;
background-color: green;
color: white;border-radius: 10px;
}
.section-container {
width: 100%;
display: flex;}
section {flex: 1;
padding: 50px;
background-color: green;
color: white;
margin: 10px 0px;
text-align: center;
box-sizing: border-box;
border-radius: 10px;
box-sizing: border-box;
}
.section2 {margin: 10px 20px;}
footer {
    justify-items: center;
    padding: 30px;
    background-color: green;
    color: white;
    position:relative;
    text-align: center;
    border-radius: 10px;
}